<h1>Welcome to Good Eats</h1>

<h2>Recently Added</h2>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>

</ul>

<%= link_to "All Restaurants", restaurants_path %>
